*

!targets/docker/default_config_kernel.ron
!targets/docker/default_config_vm.ron

!targets/docker
!targets/dicts
!targets/extra_folders
!targets/specs
!targets/packer_scripts

!targets/setup_scripts/build_all.sh
!targets/setup_scripts/bftpd
!targets/setup_scripts/daapd
!targets/setup_scripts/dcmtk
!targets/setup_scripts/dnsmasq
!targets/setup_scripts/exim
!targets/setup_scripts/kamalio
!targets/setup_scripts/lightftp
!targets/setup_scripts/live555
!targets/setup_scripts/openssh
!targets/setup_scripts/openssl
!targets/setup_scripts/proftpd
!targets/setup_scripts/pureftpd
!targets/setup_scripts/tinydtls

!packer

targets/setup_scripts/build
